In [4]:

# List of integers
numbers = [1, 2, 3, 4, 5]

# Mixed data types
mixed_list = [1, "code", 3.14, True]

# Nested lists
matrix = [[1,2], [3, 4]]
type(matrix)

list

In [6]:
numbers=[0,1,2,3,4,5]
subset=numbers[::-1]
print(subset)

[5, 4, 3, 2, 1, 0]

In [7]:
numbers=[0,1,2,3,4,5]
subset=numbers[::-1]
print(subset)

[5, 4, 3, 2, 1, 0]

In [6]:
for fruit in ["apple", "banana", "cherry"]:
    print (fruit)
    for i, fruit in enumerate(fruit):
        print(f"Index {i}:{fruit}")

apple
Index 0:a
Index 1:p
Index 2:p
Index 3:l
Index 4:e
banana
Index 0:b
Index 1:a
Index 2:n
Index 3:a
Index 4:n
Index 5:a
cherry
Index 0:c
Index 1:h
Index 2:e
Index 3:r
Index 4:r
Index 5:y

In [14]:
point= (10,20)
x,y = point
print(point)
print (type(point))

(10, 20)
<class 'tuple'>

In [10]:
point=(10,20)
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [15]:
point = (10,20)
x,y = point
print(point)
print (type(point))
print(type(x))

(10, 20)
<class 'tuple'>
<class 'int'>

In [5]:
print(point.index(x))

NameError: name 'point' is not defined

In [3]:
point.index(x)

NameError: name 'point' is not defined

In [20]:
print(point.index(y))

1

In [21]:
students=[("alice",85),("Bob",90),("Charlie",78)]
students[1][0]

'Bob'

In [22]:
squares = [x**2 for x in numbers if x%2==0]
print (squares)

[0, 4, 16]

In [24]:
numbers=[1,2,4,5,6,8,9]
squares = [x**2 for x in numbers]
print (squares)

[1, 4, 16, 25, 36, 64, 81]

In [30]:
y=[]
for x in numbers:
    z=x**2
    y.append(z)
print(y)

[1, 4, 16, 25, 36, 64, 81]

In [32]:
odd = [x for x in range(10) if x%2!=0]
print(odd)

[1, 3, 5, 7, 9]

In [35]:
s="Learning python programmming"
vowels= [char for char in s if char not in "aeiou"]
print(vowels,end ='')

['L', 'r', 'n', 'n', 'g', ' ', 'p', 'y', 't', 'h', 'n', ' ', 'p', 'r', 'g', 'r', 'm', 'm', 'm', 'n', 'g']

In [39]:
empty_dict={}
student={
    "name":"Manish",
    "age":21,
    "courses":["Maths","Physics"]}
print(student)

{'name': 'Manish', 'age': 21, 'courses': ['Maths', 'Physics']}

In [40]:
student["address"]="Kathmandu, Nepal"
print(student)

{'name': 'Manish', 'age': 21, 'courses': ['Maths', 'Physics'], 'address': 'Kathmandu, Nepal'}

In [46]:
print(student.get("age"))
print(student.get("name"))
print(student.get("courses")[0])

21
Manish
Maths

In [52]:
grades = dict([("Math",90),("Physics",85)])
print(grades)

{'Math': 90, 'Physics': 85}

In [49]:
employee = dict(
    name="Bob",
    department="HR",
    employee_id=9876,
    years_of_service=5
)
print(employee)
print(grades)
print(type(employee))
type(employee)

{'name': 'Bob', 'department': 'HR', 'employee_id': 9876, 'years_of_service': 5}
{'Math': 90, 'Physics': 85}
<class 'dict'>

dict

In [54]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [55]:
employee.clear()
print(employee)

{}

In [59]:
employee.values()

dict_values([])

In [58]:
employee.keys()

dict_keys([])

In [60]:
employee = dict(
    name="Bob",
    department="HR",
    employee_id=9876,
    years_of_service=5
)
employee.values()

dict_values(['Bob', 'HR', 9876, 5])

In [62]:
employee.keys()

dict_keys(['name', 'department', 'employee_id', 'years_of_service'])

In [64]:
for i in employee.values():
    print(i)

Bob
HR
9876
5

In [65]:
for i in employee.items():
    print(i)

('name', 'Bob')
('department', 'HR')
('employee_id', 9876)
('years_of_service', 5)

In [66]:
for i in employee:
    print(i)

name
department
employee_id
years_of_service

In [67]:
for i in employee.keys():
    print(i)

name
department
employee_id
years_of_service

In [12]:
employee = dict(
    name="Bob",
    department="HR",
    employee_id=9876,
    years_of_service=5
)
print(employee)
print(type(employee))
type(employee)

{'name': 'Bob', 'department': 'HR', 'employee_id': 9876, 'years_of_service': 5}
<class 'dict'>

dict