In [ ]:
"""Data Cleaning & API Development with NumPy, Pandas, and FastAPI
üìå Objective 

The goal of this task is to:

Clean a messy dataset using NumPy and Pandas

Build a FastAPI application

Return the cleaned data as a JSON response through an API endpoint

üìÇ Dataset Description

You are given a CSV file named employees.csv with the following content:

id,name,age,salary,department,join_date
1,Alice,25,50000,HR,2021-01-15
2,Bob,,60000,Engineering,2020-06-20
3,Charlie,35,,Engineering,2019-03-10
4,David,29,55000,,2022-08-01
5,Eva,NaN,48000,HR,
6,,40,70000,Finance,2018-11-30
7,Frank,28,52000,Engineering,2021-09-12
8,Grace,,58000,HR,2020-02-18
9,Hannah,31,,Marketing,2019-07-25
10,Ian,45,80000,Finance,
11,Jack,27,48000,,2021-11-05
12,Karen,34,62000,Engineering,2018-04-14
13,Liam,NaN,54000,HR,2022-01-09
14,Mia,26,,Marketing,2020-05-21
15,Noah,38,72000,Finance,2017-10-30
16,Olivia,,51000,HR,2021-03-17
17,Paul,41,69000,,2016-08-19
18,Quinn,33,,Engineering,2019-12-01
19,Rachel,29,56000,Marketing,2022-06-11
20,Steve,NaN,75000,Finance,
21,Tina,24,47000,HR,2021-07-07
22,Uma,36,,Engineering,2018-09-23
23,Victor,39,68000,,2017-02-14
24,Wendy,,59000,Marketing,2020-10-05
25,Xavier,42,81000,Finance,2016-11-11
26,Yara,27,,HR,2022-04-03
27,Zack,31,61000,Engineering,
28,Anna,35,64000,Marketing,2019-06-06
29,Brian,NaN,58000,HR,2020-01-01
30,Cathy,28,,Engineering,2021-08-15
31,Derek,44,77000,Finance,2015-12-20
32,Elena,,53000,Marketing,2020-03-08
33,Felix,37,,Engineering,2018-07-27
34,Gina,26,49000,HR,2022-09-01
35,Harry,40,71000,,2017-05-13
36,Irene,32,,Marketing,
37,Jason,29,56000,Engineering,2021-04-22
38,Kelly,NaN,52000,HR,2019-11-09
39,Leo,34,,Finance,2018-01-30
40,Mona,25,47000,,2022-02-14
41,Nate,,66000,Engineering,2020-06-06
42,Opal,38,,HR,2017-09-19
43,Peter,45,82000,Finance,2016-04-25
44,Queen,27,50000,Marketing,
45,Ron,36,,Engineering,2019-08-18
46,Sara,31,59000,,2021-12-01
47,Tom,NaN,61000,Engineering,2020-10-10
48,Ursula,28,,HR,2022-05-05
49,Vincent,41,76000,Finance,
50,Willow,33,63000,Marketing,2018-06-16
51,Xena,,54000,HR,2019-03-03
52,Yusuf,39,,Engineering,2017-07-07
53,Zara,24,46000,,2022-11-11
54,Adam,35,65000,Finance,2016-02-02
55,Bella,29,,Marketing,2020-09-09
56,Carl,NaN,70000,Engineering,
57,Daisy,26,48000,HR,2021-01-01
58,Ethan,,72000,Finance,2018-08-08
59,Fiona,34,,Marketing,2019-04-04
60,George,43,79000,,2015-05-05


üßπ Data Cleaning Requirements

Using Pandas and NumPy, perform the following cleaning steps:

Remove rows where name is missing

Fill missing age values with the mean age

Fill missing salary values with the median salary

Replace missing department values with "Unknown"
 
Convert join_date to a proper datetime format

Drop rows where join_date is missing

some missing value fillna with previous data
df.fillna(method='ffill')

Ensure age and salary are integers

Add the bonus column with 10% of salary

performance_score column:  Random score between 1 and 5 (simulates employee performance ratings)

üõ†Ô∏è API Development Requirements

Using FastAPI:

Create a FastAPI application

Load and clean the dataset when the app starts

Create an API endpoint /employees

Return the cleaned dataset as a JSON response"""

In [21]:
#1.converting given data to csv file

given_data = """id,name,age,salary,department,join_date
1,Alice,25,50000,HR,2021-01-15
2,Bob,,60000,Engineering,2020-06-20
3,Charlie,35,,Engineering,2019-03-10
4,David,29,55000,,2022-08-01
5,Eva,NaN,48000,HR,
6,,40,70000,Finance,2018-11-30
7,Frank,28,52000,Engineering,2021-09-12
8,Grace,,58000,HR,2020-02-18
9,Hannah,31,,Marketing,2019-07-25
10,Ian,45,80000,Finance,
11,Jack,27,48000,,2021-11-05
12,Karen,34,62000,Engineering,2018-04-14
13,Liam,NaN,54000,HR,2022-01-09
14,Mia,26,,Marketing,2020-05-21
15,Noah,38,72000,Finance,2017-10-30
16,Olivia,,51000,HR,2021-03-17
17,Paul,41,69000,,2016-08-19
18,Quinn,33,,Engineering,2019-12-01
19,Rachel,29,56000,Marketing,2022-06-11
20,Steve,NaN,75000,Finance,
21,Tina,24,47000,HR,2021-07-07
22,Uma,36,,Engineering,2018-09-23
23,Victor,39,68000,,2017-02-14
24,Wendy,,59000,Marketing,2020-10-05
25,Xavier,42,81000,Finance,2016-11-11
26,Yara,27,,HR,2022-04-03
27,Zack,31,61000,Engineering,
28,Anna,35,64000,Marketing,2019-06-06
29,Brian,NaN,58000,HR,2020-01-01
30,Cathy,28,,Engineering,2021-08-15
31,Derek,44,77000,Finance,2015-12-20
32,Elena,,53000,Marketing,2020-03-08
33,Felix,37,,Engineering,2018-07-27
34,Gina,26,49000,HR,2022-09-01
35,Harry,40,71000,,2017-05-13
36,Irene,32,,Marketing,
37,Jason,29,56000,Engineering,2021-04-22
38,Kelly,NaN,52000,HR,2019-11-09
39,Leo,34,,Finance,2018-01-30
40,Mona,25,47000,,2022-02-14
41,Nate,,66000,Engineering,2020-06-06
42,Opal,38,,HR,2017-09-19
43,Peter,45,82000,Finance,2016-04-25
44,Queen,27,50000,Marketing,
45,Ron,36,,Engineering,2019-08-18
46,Sara,31,59000,,2021-12-01
47,Tom,NaN,61000,Engineering,2020-10-10
48,Ursula,28,,HR,2022-05-05
49,Vincent,41,76000,Finance,
50,Willow,33,63000,Marketing,2018-06-16
51,Xena,,54000,HR,2019-03-03
52,Yusuf,39,,Engineering,2017-07-07
53,Zara,24,46000,,2022-11-11
54,Adam,35,65000,Finance,2016-02-02
55,Bella,29,,Marketing,2020-09-09
56,Carl,NaN,70000,Engineering,
57,Daisy,26,48000,HR,2021-01-01
58,Ethan,,72000,Finance,2018-08-08
59,Fiona,34,,Marketing,2019-04-04
60,George,43,79000,,2015-05-05
"""

with open ('employee_data.csv','w') as f:
    f.write(given_data)

In [22]:
#2.Converting the csv data into dataframe
import pandas as pd

df = pd.read_csv('employee_data.csv')
df

    id     name   age   salary   department   join_date
0    1    Alice  25.0  50000.0           HR  2021-01-15
1    2      Bob   NaN  60000.0  Engineering  2020-06-20
2    3  Charlie  35.0      NaN  Engineering  2019-03-10
3    4    David  29.0  55000.0          NaN  2022-08-01
4    5      Eva   NaN  48000.0           HR         NaN
5    6      NaN  40.0  70000.0      Finance  2018-11-30
6    7    Frank  28.0  52000.0  Engineering  2021-09-12
7    8    Grace   NaN  58000.0           HR  2020-02-18
8    9   Hannah  31.0      NaN    Marketing  2019-07-25
9   10      Ian  45.0  80000.0      Finance         NaN
10  11     Jack  27.0  48000.0          NaN  2021-11-05
11  12    Karen  34.0  62000.0  Engineering  2018-04-14
12  13     Liam   NaN  54000.0           HR  2022-01-09
13  14      Mia  26.0      NaN    Marketing  2020-05-21
14  15     Noah  38.0  72000.0      Finance  2017-10-30
15  16   Olivia   NaN  51000.0           HR  2021-03-17
16  17     Paul  41.0  69000.0          NaN  2016-08-19
17  18    Quinn  33.0      NaN  Engineering  2019-12-01
18  19   Rachel  29.0  56000.0    Marketing  2022-06-11
19  20    Steve   NaN  75000.0      Finance         NaN
20  21     Tina  24.0  47000.0           HR  2021-07-07
21  22      Uma  36.0      NaN  Engineering  2018-09-23
22  23   Victor  39.0  68000.0          NaN  2017-02-14
23  24    Wendy   NaN  59000.0    Marketing  2020-10-05
24  25   Xavier  42.0  81000.0      Finance  2016-11-11
25  26     Yara  27.0      NaN           HR  2022-04-03
26  27     Zack  31.0  61000.0  Engineering         NaN
27  28     Anna  35.0  64000.0    Marketing  2019-06-06
28  29    Brian   NaN  58000.0           HR  2020-01-01
29  30    Cathy  28.0      NaN  Engineering  2021-08-15
30  31    Derek  44.0  77000.0      Finance  2015-12-20
31  32    Elena   NaN  53000.0    Marketing  2020-03-08
32  33    Felix  37.0      NaN  Engineering  2018-07-27
33  34     Gina  26.0  49000.0           HR  2022-09-01
34  35    Harry  40.0  71000.0          NaN  2017-05-13
35  36    Irene  32.0      NaN    Marketing         NaN
36  37    Jason  29.0  56000.0  Engineering  2021-04-22
37  38    Kelly   NaN  52000.0           HR  2019-11-09
38  39      Leo  34.0      NaN      Finance  2018-01-30
39  40     Mona  25.0  47000.0          NaN  2022-02-14
40  41     Nate   NaN  66000.0  Engineering  2020-06-06
41  42     Opal  38.0      NaN           HR  2017-09-19
42  43    Peter  45.0  82000.0      Finance  2016-04-25
43  44    Queen  27.0  50000.0    Marketing         NaN
44  45      Ron  36.0      NaN  Engineering  2019-08-18
45  46     Sara  31.0  59000.0          NaN  2021-12-01
46  47      Tom   NaN  61000.0  Engineering  2020-10-10
47  48   Ursula  28.0      NaN           HR  2022-05-05
48  49  Vincent  41.0  76000.0      Finance         NaN
49  50   Willow  33.0  63000.0    Marketing  2018-06-16
50  51     Xena   NaN  54000.0           HR  2019-03-03
51  52    Yusuf  39.0      NaN  Engineering  2017-07-07
52  53     Zara  24.0  46000.0          NaN  2022-11-11
53  54     Adam  35.0  65000.0      Finance  2016-02-02
54  55    Bella  29.0      NaN    Marketing  2020-09-09
55  56     Carl   NaN  70000.0  Engineering         NaN
56  57    Daisy  26.0  48000.0           HR  2021-01-01
57  58    Ethan   NaN  72000.0      Finance  2018-08-08
58  59    Fiona  34.0      NaN    Marketing  2019-04-04
59  60   George  43.0  79000.0          NaN  2015-05-05

In [23]:
df = df.set_index('id')
df

       name   age   salary   department   join_date
id
1     Alice  25.0  50000.0           HR  2021-01-15
2       Bob   NaN  60000.0  Engineering  2020-06-20
3   Charlie  35.0      NaN  Engineering  2019-03-10
4     David  29.0  55000.0          NaN  2022-08-01
5       Eva   NaN  48000.0           HR         NaN
6       NaN  40.0  70000.0      Finance  2018-11-30
7     Frank  28.0  52000.0  Engineering  2021-09-12
8     Grace   NaN  58000.0           HR  2020-02-18
9    Hannah  31.0      NaN    Marketing  2019-07-25
10      Ian  45.0  80000.0      Finance         NaN
11     Jack  27.0  48000.0          NaN  2021-11-05
12    Karen  34.0  62000.0  Engineering  2018-04-14
13     Liam   NaN  54000.0           HR  2022-01-09
14      Mia  26.0      NaN    Marketing  2020-05-21
15     Noah  38.0  72000.0      Finance  2017-10-30
16   Olivia   NaN  51000.0           HR  2021-03-17
17     Paul  41.0  69000.0          NaN  2016-08-19
18    Quinn  33.0      NaN  Engineering  2019-12-01
19   Rachel  29.0  56000.0    Marketing  2022-06-11
20    Steve   NaN  75000.0      Finance         NaN
21     Tina  24.0  47000.0           HR  2021-07-07
22      Uma  36.0      NaN  Engineering  2018-09-23
23   Victor  39.0  68000.0          NaN  2017-02-14
24    Wendy   NaN  59000.0    Marketing  2020-10-05
25   Xavier  42.0  81000.0      Finance  2016-11-11
26     Yara  27.0      NaN           HR  2022-04-03
27     Zack  31.0  61000.0  Engineering         NaN
28     Anna  35.0  64000.0    Marketing  2019-06-06
29    Brian   NaN  58000.0           HR  2020-01-01
30    Cathy  28.0      NaN  Engineering  2021-08-15
31    Derek  44.0  77000.0      Finance  2015-12-20
32    Elena   NaN  53000.0    Marketing  2020-03-08
33    Felix  37.0      NaN  Engineering  2018-07-27
34     Gina  26.0  49000.0           HR  2022-09-01
35    Harry  40.0  71000.0          NaN  2017-05-13
36    Irene  32.0      NaN    Marketing         NaN
37    Jason  29.0  56000.0  Engineering  2021-04-22
38    Kelly   NaN  52000.0           HR  2019-11-09
39      Leo  34.0      NaN      Finance  2018-01-30
40     Mona  25.0  47000.0          NaN  2022-02-14
41     Nate   NaN  66000.0  Engineering  2020-06-06
42     Opal  38.0      NaN           HR  2017-09-19
43    Peter  45.0  82000.0      Finance  2016-04-25
44    Queen  27.0  50000.0    Marketing         NaN
45      Ron  36.0      NaN  Engineering  2019-08-18
46     Sara  31.0  59000.0          NaN  2021-12-01
47      Tom   NaN  61000.0  Engineering  2020-10-10
48   Ursula  28.0      NaN           HR  2022-05-05
49  Vincent  41.0  76000.0      Finance         NaN
50   Willow  33.0  63000.0    Marketing  2018-06-16
51     Xena   NaN  54000.0           HR  2019-03-03
52    Yusuf  39.0      NaN  Engineering  2017-07-07
53     Zara  24.0  46000.0          NaN  2022-11-11
54     Adam  35.0  65000.0      Finance  2016-02-02
55    Bella  29.0      NaN    Marketing  2020-09-09
56     Carl   NaN  70000.0  Engineering         NaN
57    Daisy  26.0  48000.0           HR  2021-01-01
58    Ethan   NaN  72000.0      Finance  2018-08-08
59    Fiona  34.0      NaN    Marketing  2019-04-04
60   George  43.0  79000.0          NaN  2015-05-05

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 1 to 60
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        59 non-null     object
 1   age         45 non-null     float64
 2   salary      44 non-null     float64
 3   department  51 non-null     object
 4   join_date   52 non-null     object
dtypes: float64(2), object(3)
memory usage: 2.8+ KB

In [25]:
df.isnull().sum()

name           1
age           15
salary        16
department     9
join_date      8
dtype: int64

In [26]:
# 3. Remove rows where name is missing
df.dropna(subset=["name"],inplace=True)
df

       name   age   salary   department   join_date
id
1     Alice  25.0  50000.0           HR  2021-01-15
2       Bob   NaN  60000.0  Engineering  2020-06-20
3   Charlie  35.0      NaN  Engineering  2019-03-10
4     David  29.0  55000.0          NaN  2022-08-01
5       Eva   NaN  48000.0           HR         NaN
7     Frank  28.0  52000.0  Engineering  2021-09-12
8     Grace   NaN  58000.0           HR  2020-02-18
9    Hannah  31.0      NaN    Marketing  2019-07-25
10      Ian  45.0  80000.0      Finance         NaN
11     Jack  27.0  48000.0          NaN  2021-11-05
12    Karen  34.0  62000.0  Engineering  2018-04-14
13     Liam   NaN  54000.0           HR  2022-01-09
14      Mia  26.0      NaN    Marketing  2020-05-21
15     Noah  38.0  72000.0      Finance  2017-10-30
16   Olivia   NaN  51000.0           HR  2021-03-17
17     Paul  41.0  69000.0          NaN  2016-08-19
18    Quinn  33.0      NaN  Engineering  2019-12-01
19   Rachel  29.0  56000.0    Marketing  2022-06-11
20    Steve   NaN  75000.0      Finance         NaN
21     Tina  24.0  47000.0           HR  2021-07-07
22      Uma  36.0      NaN  Engineering  2018-09-23
23   Victor  39.0  68000.0          NaN  2017-02-14
24    Wendy   NaN  59000.0    Marketing  2020-10-05
25   Xavier  42.0  81000.0      Finance  2016-11-11
26     Yara  27.0      NaN           HR  2022-04-03
27     Zack  31.0  61000.0  Engineering         NaN
28     Anna  35.0  64000.0    Marketing  2019-06-06
29    Brian   NaN  58000.0           HR  2020-01-01
30    Cathy  28.0      NaN  Engineering  2021-08-15
31    Derek  44.0  77000.0      Finance  2015-12-20
32    Elena   NaN  53000.0    Marketing  2020-03-08
33    Felix  37.0      NaN  Engineering  2018-07-27
34     Gina  26.0  49000.0           HR  2022-09-01
35    Harry  40.0  71000.0          NaN  2017-05-13
36    Irene  32.0      NaN    Marketing         NaN
37    Jason  29.0  56000.0  Engineering  2021-04-22
38    Kelly   NaN  52000.0           HR  2019-11-09
39      Leo  34.0      NaN      Finance  2018-01-30
40     Mona  25.0  47000.0          NaN  2022-02-14
41     Nate   NaN  66000.0  Engineering  2020-06-06
42     Opal  38.0      NaN           HR  2017-09-19
43    Peter  45.0  82000.0      Finance  2016-04-25
44    Queen  27.0  50000.0    Marketing         NaN
45      Ron  36.0      NaN  Engineering  2019-08-18
46     Sara  31.0  59000.0          NaN  2021-12-01
47      Tom   NaN  61000.0  Engineering  2020-10-10
48   Ursula  28.0      NaN           HR  2022-05-05
49  Vincent  41.0  76000.0      Finance         NaN
50   Willow  33.0  63000.0    Marketing  2018-06-16
51     Xena   NaN  54000.0           HR  2019-03-03
52    Yusuf  39.0      NaN  Engineering  2017-07-07
53     Zara  24.0  46000.0          NaN  2022-11-11
54     Adam  35.0  65000.0      Finance  2016-02-02
55    Bella  29.0      NaN    Marketing  2020-09-09
56     Carl   NaN  70000.0  Engineering         NaN
57    Daisy  26.0  48000.0           HR  2021-01-01
58    Ethan   NaN  72000.0      Finance  2018-08-08
59    Fiona  34.0      NaN    Marketing  2019-04-04
60   George  43.0  79000.0          NaN  2015-05-05

In [27]:
df.isnull().sum()

name           0
age           15
salary        16
department     9
join_date      8
dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, 1 to 60
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        59 non-null     object
 1   age         44 non-null     float64
 2   salary      43 non-null     float64
 3   department  50 non-null     object
 4   join_date   51 non-null     object
dtypes: float64(2), object(3)
memory usage: 2.8+ KB

In [29]:
# 4.Fill missing age values with the mean age

mean_age = df['age'].mean()

print(f"The mean age is: {mean_age}")

df.fillna({"age":mean_age},inplace = True)

df

The mean age is: 33.15909090909091

       name        age   salary   department   join_date
id
1     Alice  25.000000  50000.0           HR  2021-01-15
2       Bob  33.159091  60000.0  Engineering  2020-06-20
3   Charlie  35.000000      NaN  Engineering  2019-03-10
4     David  29.000000  55000.0          NaN  2022-08-01
5       Eva  33.159091  48000.0           HR         NaN
7     Frank  28.000000  52000.0  Engineering  2021-09-12
8     Grace  33.159091  58000.0           HR  2020-02-18
9    Hannah  31.000000      NaN    Marketing  2019-07-25
10      Ian  45.000000  80000.0      Finance         NaN
11     Jack  27.000000  48000.0          NaN  2021-11-05
12    Karen  34.000000  62000.0  Engineering  2018-04-14
13     Liam  33.159091  54000.0           HR  2022-01-09
14      Mia  26.000000      NaN    Marketing  2020-05-21
15     Noah  38.000000  72000.0      Finance  2017-10-30
16   Olivia  33.159091  51000.0           HR  2021-03-17
17     Paul  41.000000  69000.0          NaN  2016-08-19
18    Quinn  33.000000      NaN  Engineering  2019-12-01
19   Rachel  29.000000  56000.0    Marketing  2022-06-11
20    Steve  33.159091  75000.0      Finance         NaN
21     Tina  24.000000  47000.0           HR  2021-07-07
22      Uma  36.000000      NaN  Engineering  2018-09-23
23   Victor  39.000000  68000.0          NaN  2017-02-14
24    Wendy  33.159091  59000.0    Marketing  2020-10-05
25   Xavier  42.000000  81000.0      Finance  2016-11-11
26     Yara  27.000000      NaN           HR  2022-04-03
27     Zack  31.000000  61000.0  Engineering         NaN
28     Anna  35.000000  64000.0    Marketing  2019-06-06
29    Brian  33.159091  58000.0           HR  2020-01-01
30    Cathy  28.000000      NaN  Engineering  2021-08-15
31    Derek  44.000000  77000.0      Finance  2015-12-20
32    Elena  33.159091  53000.0    Marketing  2020-03-08
33    Felix  37.000000      NaN  Engineering  2018-07-27
34     Gina  26.000000  49000.0           HR  2022-09-01
35    Harry  40.000000  71000.0          NaN  2017-05-13
36    Irene  32.000000      NaN    Marketing         NaN
37    Jason  29.000000  56000.0  Engineering  2021-04-22
38    Kelly  33.159091  52000.0           HR  2019-11-09
39      Leo  34.000000      NaN      Finance  2018-01-30
40     Mona  25.000000  47000.0          NaN  2022-02-14
41     Nate  33.159091  66000.0  Engineering  2020-06-06
42     Opal  38.000000      NaN           HR  2017-09-19
43    Peter  45.000000  82000.0      Finance  2016-04-25
44    Queen  27.000000  50000.0    Marketing         NaN
45      Ron  36.000000      NaN  Engineering  2019-08-18
46     Sara  31.000000  59000.0          NaN  2021-12-01
47      Tom  33.159091  61000.0  Engineering  2020-10-10
48   Ursula  28.000000      NaN           HR  2022-05-05
49  Vincent  41.000000  76000.0      Finance         NaN
50   Willow  33.000000  63000.0    Marketing  2018-06-16
51     Xena  33.159091  54000.0           HR  2019-03-03
52    Yusuf  39.000000      NaN  Engineering  2017-07-07
53     Zara  24.000000  46000.0          NaN  2022-11-11
54     Adam  35.000000  65000.0      Finance  2016-02-02
55    Bella  29.000000      NaN    Marketing  2020-09-09
56     Carl  33.159091  70000.0  Engineering         NaN
57    Daisy  26.000000  48000.0           HR  2021-01-01
58    Ethan  33.159091  72000.0      Finance  2018-08-08
59    Fiona  34.000000      NaN    Marketing  2019-04-04
60   George  43.000000  79000.0          NaN  2015-05-05

In [31]:
df.isnull().sum()

name           0
age            0
salary        16
department     9
join_date      8
dtype: int64

In [32]:
# 5. Fill missing salary values with the median salary
median_salary = df['salary'].median()

print(f"The median salary is: {median_salary}")

df.fillna({"salary":median_salary},inplace = True)

df

The median salary is: 59000.0

       name        age   salary   department   join_date
id
1     Alice  25.000000  50000.0           HR  2021-01-15
2       Bob  33.159091  60000.0  Engineering  2020-06-20
3   Charlie  35.000000  59000.0  Engineering  2019-03-10
4     David  29.000000  55000.0          NaN  2022-08-01
5       Eva  33.159091  48000.0           HR         NaN
7     Frank  28.000000  52000.0  Engineering  2021-09-12
8     Grace  33.159091  58000.0           HR  2020-02-18
9    Hannah  31.000000  59000.0    Marketing  2019-07-25
10      Ian  45.000000  80000.0      Finance         NaN
11     Jack  27.000000  48000.0          NaN  2021-11-05
12    Karen  34.000000  62000.0  Engineering  2018-04-14
13     Liam  33.159091  54000.0           HR  2022-01-09
14      Mia  26.000000  59000.0    Marketing  2020-05-21
15     Noah  38.000000  72000.0      Finance  2017-10-30
16   Olivia  33.159091  51000.0           HR  2021-03-17
17     Paul  41.000000  69000.0          NaN  2016-08-19
18    Quinn  33.000000  59000.0  Engineering  2019-12-01
19   Rachel  29.000000  56000.0    Marketing  2022-06-11
20    Steve  33.159091  75000.0      Finance         NaN
21     Tina  24.000000  47000.0           HR  2021-07-07
22      Uma  36.000000  59000.0  Engineering  2018-09-23
23   Victor  39.000000  68000.0          NaN  2017-02-14
24    Wendy  33.159091  59000.0    Marketing  2020-10-05
25   Xavier  42.000000  81000.0      Finance  2016-11-11
26     Yara  27.000000  59000.0           HR  2022-04-03
27     Zack  31.000000  61000.0  Engineering         NaN
28     Anna  35.000000  64000.0    Marketing  2019-06-06
29    Brian  33.159091  58000.0           HR  2020-01-01
30    Cathy  28.000000  59000.0  Engineering  2021-08-15
31    Derek  44.000000  77000.0      Finance  2015-12-20
32    Elena  33.159091  53000.0    Marketing  2020-03-08
33    Felix  37.000000  59000.0  Engineering  2018-07-27
34     Gina  26.000000  49000.0           HR  2022-09-01
35    Harry  40.000000  71000.0          NaN  2017-05-13
36    Irene  32.000000  59000.0    Marketing         NaN
37    Jason  29.000000  56000.0  Engineering  2021-04-22
38    Kelly  33.159091  52000.0           HR  2019-11-09
39      Leo  34.000000  59000.0      Finance  2018-01-30
40     Mona  25.000000  47000.0          NaN  2022-02-14
41     Nate  33.159091  66000.0  Engineering  2020-06-06
42     Opal  38.000000  59000.0           HR  2017-09-19
43    Peter  45.000000  82000.0      Finance  2016-04-25
44    Queen  27.000000  50000.0    Marketing         NaN
45      Ron  36.000000  59000.0  Engineering  2019-08-18
46     Sara  31.000000  59000.0          NaN  2021-12-01
47      Tom  33.159091  61000.0  Engineering  2020-10-10
48   Ursula  28.000000  59000.0           HR  2022-05-05
49  Vincent  41.000000  76000.0      Finance         NaN
50   Willow  33.000000  63000.0    Marketing  2018-06-16
51     Xena  33.159091  54000.0           HR  2019-03-03
52    Yusuf  39.000000  59000.0  Engineering  2017-07-07
53     Zara  24.000000  46000.0          NaN  2022-11-11
54     Adam  35.000000  65000.0      Finance  2016-02-02
55    Bella  29.000000  59000.0    Marketing  2020-09-09
56     Carl  33.159091  70000.0  Engineering         NaN
57    Daisy  26.000000  48000.0           HR  2021-01-01
58    Ethan  33.159091  72000.0      Finance  2018-08-08
59    Fiona  34.000000  59000.0    Marketing  2019-04-04
60   George  43.000000  79000.0          NaN  2015-05-05

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, 1 to 60
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        59 non-null     object
 1   age         59 non-null     float64
 2   salary      59 non-null     float64
 3   department  50 non-null     object
 4   join_date   51 non-null     object
dtypes: float64(2), object(3)
memory usage: 2.8+ KB

In [34]:
df.isnull().sum()

name          0
age           0
salary        0
department    9
join_date     8
dtype: int64

In [35]:
# 6.Replace missing department values with "Unknown"

df.fillna({"department":"Unknown"},inplace = True)

df

       name        age   salary   department   join_date
id
1     Alice  25.000000  50000.0           HR  2021-01-15
2       Bob  33.159091  60000.0  Engineering  2020-06-20
3   Charlie  35.000000  59000.0  Engineering  2019-03-10
4     David  29.000000  55000.0      Unknown  2022-08-01
5       Eva  33.159091  48000.0           HR         NaN
7     Frank  28.000000  52000.0  Engineering  2021-09-12
8     Grace  33.159091  58000.0           HR  2020-02-18
9    Hannah  31.000000  59000.0    Marketing  2019-07-25
10      Ian  45.000000  80000.0      Finance         NaN
11     Jack  27.000000  48000.0      Unknown  2021-11-05
12    Karen  34.000000  62000.0  Engineering  2018-04-14
13     Liam  33.159091  54000.0           HR  2022-01-09
14      Mia  26.000000  59000.0    Marketing  2020-05-21
15     Noah  38.000000  72000.0      Finance  2017-10-30
16   Olivia  33.159091  51000.0           HR  2021-03-17
17     Paul  41.000000  69000.0      Unknown  2016-08-19
18    Quinn  33.000000  59000.0  Engineering  2019-12-01
19   Rachel  29.000000  56000.0    Marketing  2022-06-11
20    Steve  33.159091  75000.0      Finance         NaN
21     Tina  24.000000  47000.0           HR  2021-07-07
22      Uma  36.000000  59000.0  Engineering  2018-09-23
23   Victor  39.000000  68000.0      Unknown  2017-02-14
24    Wendy  33.159091  59000.0    Marketing  2020-10-05
25   Xavier  42.000000  81000.0      Finance  2016-11-11
26     Yara  27.000000  59000.0           HR  2022-04-03
27     Zack  31.000000  61000.0  Engineering         NaN
28     Anna  35.000000  64000.0    Marketing  2019-06-06
29    Brian  33.159091  58000.0           HR  2020-01-01
30    Cathy  28.000000  59000.0  Engineering  2021-08-15
31    Derek  44.000000  77000.0      Finance  2015-12-20
32    Elena  33.159091  53000.0    Marketing  2020-03-08
33    Felix  37.000000  59000.0  Engineering  2018-07-27
34     Gina  26.000000  49000.0           HR  2022-09-01
35    Harry  40.000000  71000.0      Unknown  2017-05-13
36    Irene  32.000000  59000.0    Marketing         NaN
37    Jason  29.000000  56000.0  Engineering  2021-04-22
38    Kelly  33.159091  52000.0           HR  2019-11-09
39      Leo  34.000000  59000.0      Finance  2018-01-30
40     Mona  25.000000  47000.0      Unknown  2022-02-14
41     Nate  33.159091  66000.0  Engineering  2020-06-06
42     Opal  38.000000  59000.0           HR  2017-09-19
43    Peter  45.000000  82000.0      Finance  2016-04-25
44    Queen  27.000000  50000.0    Marketing         NaN
45      Ron  36.000000  59000.0  Engineering  2019-08-18
46     Sara  31.000000  59000.0      Unknown  2021-12-01
47      Tom  33.159091  61000.0  Engineering  2020-10-10
48   Ursula  28.000000  59000.0           HR  2022-05-05
49  Vincent  41.000000  76000.0      Finance         NaN
50   Willow  33.000000  63000.0    Marketing  2018-06-16
51     Xena  33.159091  54000.0           HR  2019-03-03
52    Yusuf  39.000000  59000.0  Engineering  2017-07-07
53     Zara  24.000000  46000.0      Unknown  2022-11-11
54     Adam  35.000000  65000.0      Finance  2016-02-02
55    Bella  29.000000  59000.0    Marketing  2020-09-09
56     Carl  33.159091  70000.0  Engineering         NaN
57    Daisy  26.000000  48000.0           HR  2021-01-01
58    Ethan  33.159091  72000.0      Finance  2018-08-08
59    Fiona  34.000000  59000.0    Marketing  2019-04-04
60   George  43.000000  79000.0      Unknown  2015-05-05

In [36]:
df.isnull().sum()

name          0
age           0
salary        0
department    0
join_date     8
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, 1 to 60
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        59 non-null     object
 1   age         59 non-null     float64
 2   salary      59 non-null     float64
 3   department  59 non-null     object
 4   join_date   51 non-null     object
dtypes: float64(2), object(3)
memory usage: 2.8+ KB

In [40]:
df['join_date'].dtype

dtype('O')

In [41]:
# 7.Convert join_date to a proper datetime format
df["join_date"] = pd.to_datetime(df["join_date"], errors="coerce")
df

       name        age   salary   department  join_date
id
1     Alice  25.000000  50000.0           HR 2021-01-15
2       Bob  33.159091  60000.0  Engineering 2020-06-20
3   Charlie  35.000000  59000.0  Engineering 2019-03-10
4     David  29.000000  55000.0      Unknown 2022-08-01
5       Eva  33.159091  48000.0           HR        NaT
7     Frank  28.000000  52000.0  Engineering 2021-09-12
8     Grace  33.159091  58000.0           HR 2020-02-18
9    Hannah  31.000000  59000.0    Marketing 2019-07-25
10      Ian  45.000000  80000.0      Finance        NaT
11     Jack  27.000000  48000.0      Unknown 2021-11-05
12    Karen  34.000000  62000.0  Engineering 2018-04-14
13     Liam  33.159091  54000.0           HR 2022-01-09
14      Mia  26.000000  59000.0    Marketing 2020-05-21
15     Noah  38.000000  72000.0      Finance 2017-10-30
16   Olivia  33.159091  51000.0           HR 2021-03-17
17     Paul  41.000000  69000.0      Unknown 2016-08-19
18    Quinn  33.000000  59000.0  Engineering 2019-12-01
19   Rachel  29.000000  56000.0    Marketing 2022-06-11
20    Steve  33.159091  75000.0      Finance        NaT
21     Tina  24.000000  47000.0           HR 2021-07-07
22      Uma  36.000000  59000.0  Engineering 2018-09-23
23   Victor  39.000000  68000.0      Unknown 2017-02-14
24    Wendy  33.159091  59000.0    Marketing 2020-10-05
25   Xavier  42.000000  81000.0      Finance 2016-11-11
26     Yara  27.000000  59000.0           HR 2022-04-03
27     Zack  31.000000  61000.0  Engineering        NaT
28     Anna  35.000000  64000.0    Marketing 2019-06-06
29    Brian  33.159091  58000.0           HR 2020-01-01
30    Cathy  28.000000  59000.0  Engineering 2021-08-15
31    Derek  44.000000  77000.0      Finance 2015-12-20
32    Elena  33.159091  53000.0    Marketing 2020-03-08
33    Felix  37.000000  59000.0  Engineering 2018-07-27
34     Gina  26.000000  49000.0           HR 2022-09-01
35    Harry  40.000000  71000.0      Unknown 2017-05-13
36    Irene  32.000000  59000.0    Marketing        NaT
37    Jason  29.000000  56000.0  Engineering 2021-04-22
38    Kelly  33.159091  52000.0           HR 2019-11-09
39      Leo  34.000000  59000.0      Finance 2018-01-30
40     Mona  25.000000  47000.0      Unknown 2022-02-14
41     Nate  33.159091  66000.0  Engineering 2020-06-06
42     Opal  38.000000  59000.0           HR 2017-09-19
43    Peter  45.000000  82000.0      Finance 2016-04-25
44    Queen  27.000000  50000.0    Marketing        NaT
45      Ron  36.000000  59000.0  Engineering 2019-08-18
46     Sara  31.000000  59000.0      Unknown 2021-12-01
47      Tom  33.159091  61000.0  Engineering 2020-10-10
48   Ursula  28.000000  59000.0           HR 2022-05-05
49  Vincent  41.000000  76000.0      Finance        NaT
50   Willow  33.000000  63000.0    Marketing 2018-06-16
51     Xena  33.159091  54000.0           HR 2019-03-03
52    Yusuf  39.000000  59000.0  Engineering 2017-07-07
53     Zara  24.000000  46000.0      Unknown 2022-11-11
54     Adam  35.000000  65000.0      Finance 2016-02-02
55    Bella  29.000000  59000.0    Marketing 2020-09-09
56     Carl  33.159091  70000.0  Engineering        NaT
57    Daisy  26.000000  48000.0           HR 2021-01-01
58    Ethan  33.159091  72000.0      Finance 2018-08-08
59    Fiona  34.000000  59000.0    Marketing 2019-04-04
60   George  43.000000  79000.0      Unknown 2015-05-05

In [42]:
df.isnull().sum()

name          0
age           0
salary        0
department    0
join_date     8
dtype: int64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, 1 to 60
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        59 non-null     object
 1   age         59 non-null     float64
 2   salary      59 non-null     float64
 3   department  59 non-null     object
 4   join_date   51 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 2.8+ KB

In [44]:
# 8.Drop rows where join_date is missing

df = df.dropna(subset=["join_date"])
df

       name        age   salary   department  join_date
id
1     Alice  25.000000  50000.0           HR 2021-01-15
2       Bob  33.159091  60000.0  Engineering 2020-06-20
3   Charlie  35.000000  59000.0  Engineering 2019-03-10
4     David  29.000000  55000.0      Unknown 2022-08-01
7     Frank  28.000000  52000.0  Engineering 2021-09-12
8     Grace  33.159091  58000.0           HR 2020-02-18
9    Hannah  31.000000  59000.0    Marketing 2019-07-25
11     Jack  27.000000  48000.0      Unknown 2021-11-05
12    Karen  34.000000  62000.0  Engineering 2018-04-14
13     Liam  33.159091  54000.0           HR 2022-01-09
14      Mia  26.000000  59000.0    Marketing 2020-05-21
15     Noah  38.000000  72000.0      Finance 2017-10-30
16   Olivia  33.159091  51000.0           HR 2021-03-17
17     Paul  41.000000  69000.0      Unknown 2016-08-19
18    Quinn  33.000000  59000.0  Engineering 2019-12-01
19   Rachel  29.000000  56000.0    Marketing 2022-06-11
21     Tina  24.000000  47000.0           HR 2021-07-07
22      Uma  36.000000  59000.0  Engineering 2018-09-23
23   Victor  39.000000  68000.0      Unknown 2017-02-14
24    Wendy  33.159091  59000.0    Marketing 2020-10-05
25   Xavier  42.000000  81000.0      Finance 2016-11-11
26     Yara  27.000000  59000.0           HR 2022-04-03
28     Anna  35.000000  64000.0    Marketing 2019-06-06
29    Brian  33.159091  58000.0           HR 2020-01-01
30    Cathy  28.000000  59000.0  Engineering 2021-08-15
31    Derek  44.000000  77000.0      Finance 2015-12-20
32    Elena  33.159091  53000.0    Marketing 2020-03-08
33    Felix  37.000000  59000.0  Engineering 2018-07-27
34     Gina  26.000000  49000.0           HR 2022-09-01
35    Harry  40.000000  71000.0      Unknown 2017-05-13
37    Jason  29.000000  56000.0  Engineering 2021-04-22
38    Kelly  33.159091  52000.0           HR 2019-11-09
39      Leo  34.000000  59000.0      Finance 2018-01-30
40     Mona  25.000000  47000.0      Unknown 2022-02-14
41     Nate  33.159091  66000.0  Engineering 2020-06-06
42     Opal  38.000000  59000.0           HR 2017-09-19
43    Peter  45.000000  82000.0      Finance 2016-04-25
45      Ron  36.000000  59000.0  Engineering 2019-08-18
46     Sara  31.000000  59000.0      Unknown 2021-12-01
47      Tom  33.159091  61000.0  Engineering 2020-10-10
48   Ursula  28.000000  59000.0           HR 2022-05-05
50   Willow  33.000000  63000.0    Marketing 2018-06-16
51     Xena  33.159091  54000.0           HR 2019-03-03
52    Yusuf  39.000000  59000.0  Engineering 2017-07-07
53     Zara  24.000000  46000.0      Unknown 2022-11-11
54     Adam  35.000000  65000.0      Finance 2016-02-02
55    Bella  29.000000  59000.0    Marketing 2020-09-09
57    Daisy  26.000000  48000.0           HR 2021-01-01
58    Ethan  33.159091  72000.0      Finance 2018-08-08
59    Fiona  34.000000  59000.0    Marketing 2019-04-04
60   George  43.000000  79000.0      Unknown 2015-05-05

In [45]:
df.isnull().sum()

name          0
age           0
salary        0
department    0
join_date     0
dtype: int64

In [48]:
#9. Forward fill remaining missing values (if any)

df = df.fillna(method="ffill")
df

C:\Users\dell\AppData\Local\Temp\ipykernel_2092\85870156.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method="ffill")

       name        age   salary   department  join_date
id
1     Alice  25.000000  50000.0           HR 2021-01-15
2       Bob  33.159091  60000.0  Engineering 2020-06-20
3   Charlie  35.000000  59000.0  Engineering 2019-03-10
4     David  29.000000  55000.0      Unknown 2022-08-01
7     Frank  28.000000  52000.0  Engineering 2021-09-12
8     Grace  33.159091  58000.0           HR 2020-02-18
9    Hannah  31.000000  59000.0    Marketing 2019-07-25
11     Jack  27.000000  48000.0      Unknown 2021-11-05
12    Karen  34.000000  62000.0  Engineering 2018-04-14
13     Liam  33.159091  54000.0           HR 2022-01-09
14      Mia  26.000000  59000.0    Marketing 2020-05-21
15     Noah  38.000000  72000.0      Finance 2017-10-30
16   Olivia  33.159091  51000.0           HR 2021-03-17
17     Paul  41.000000  69000.0      Unknown 2016-08-19
18    Quinn  33.000000  59000.0  Engineering 2019-12-01
19   Rachel  29.000000  56000.0    Marketing 2022-06-11
21     Tina  24.000000  47000.0           HR 2021-07-07
22      Uma  36.000000  59000.0  Engineering 2018-09-23
23   Victor  39.000000  68000.0      Unknown 2017-02-14
24    Wendy  33.159091  59000.0    Marketing 2020-10-05
25   Xavier  42.000000  81000.0      Finance 2016-11-11
26     Yara  27.000000  59000.0           HR 2022-04-03
28     Anna  35.000000  64000.0    Marketing 2019-06-06
29    Brian  33.159091  58000.0           HR 2020-01-01
30    Cathy  28.000000  59000.0  Engineering 2021-08-15
31    Derek  44.000000  77000.0      Finance 2015-12-20
32    Elena  33.159091  53000.0    Marketing 2020-03-08
33    Felix  37.000000  59000.0  Engineering 2018-07-27
34     Gina  26.000000  49000.0           HR 2022-09-01
35    Harry  40.000000  71000.0      Unknown 2017-05-13
37    Jason  29.000000  56000.0  Engineering 2021-04-22
38    Kelly  33.159091  52000.0           HR 2019-11-09
39      Leo  34.000000  59000.0      Finance 2018-01-30
40     Mona  25.000000  47000.0      Unknown 2022-02-14
41     Nate  33.159091  66000.0  Engineering 2020-06-06
42     Opal  38.000000  59000.0           HR 2017-09-19
43    Peter  45.000000  82000.0      Finance 2016-04-25
45      Ron  36.000000  59000.0  Engineering 2019-08-18
46     Sara  31.000000  59000.0      Unknown 2021-12-01
47      Tom  33.159091  61000.0  Engineering 2020-10-10
48   Ursula  28.000000  59000.0           HR 2022-05-05
50   Willow  33.000000  63000.0    Marketing 2018-06-16
51     Xena  33.159091  54000.0           HR 2019-03-03
52    Yusuf  39.000000  59000.0  Engineering 2017-07-07
53     Zara  24.000000  46000.0      Unknown 2022-11-11
54     Adam  35.000000  65000.0      Finance 2016-02-02
55    Bella  29.000000  59000.0    Marketing 2020-09-09
57    Daisy  26.000000  48000.0           HR 2021-01-01
58    Ethan  33.159091  72000.0      Finance 2018-08-08
59    Fiona  34.000000  59000.0    Marketing 2019-04-04
60   George  43.000000  79000.0      Unknown 2015-05-05

In [49]:
# 10. Ensure age and salary are integers

df["age"] = df["age"].astype(int)
df["salary"] = df["salary"].astype(int)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 1 to 60
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        51 non-null     object
 1   age         51 non-null     int32
 2   salary      51 non-null     int32
 3   department  51 non-null     object
 4   join_date   51 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int32(2), object(2)
memory usage: 2.0+ KB

In [51]:
# 11. Add bonus column (10% of salary)
df["bonus"] = (df["salary"] * 0.10)
df

       name  age  salary   department  join_date   bonus
id
1     Alice   25   50000           HR 2021-01-15  5000.0
2       Bob   33   60000  Engineering 2020-06-20  6000.0
3   Charlie   35   59000  Engineering 2019-03-10  5900.0
4     David   29   55000      Unknown 2022-08-01  5500.0
7     Frank   28   52000  Engineering 2021-09-12  5200.0
8     Grace   33   58000           HR 2020-02-18  5800.0
9    Hannah   31   59000    Marketing 2019-07-25  5900.0
11     Jack   27   48000      Unknown 2021-11-05  4800.0
12    Karen   34   62000  Engineering 2018-04-14  6200.0
13     Liam   33   54000           HR 2022-01-09  5400.0
14      Mia   26   59000    Marketing 2020-05-21  5900.0
15     Noah   38   72000      Finance 2017-10-30  7200.0
16   Olivia   33   51000           HR 2021-03-17  5100.0
17     Paul   41   69000      Unknown 2016-08-19  6900.0
18    Quinn   33   59000  Engineering 2019-12-01  5900.0
19   Rachel   29   56000    Marketing 2022-06-11  5600.0
21     Tina   24   47000           HR 2021-07-07  4700.0
22      Uma   36   59000  Engineering 2018-09-23  5900.0
23   Victor   39   68000      Unknown 2017-02-14  6800.0
24    Wendy   33   59000    Marketing 2020-10-05  5900.0
25   Xavier   42   81000      Finance 2016-11-11  8100.0
26     Yara   27   59000           HR 2022-04-03  5900.0
28     Anna   35   64000    Marketing 2019-06-06  6400.0
29    Brian   33   58000           HR 2020-01-01  5800.0
30    Cathy   28   59000  Engineering 2021-08-15  5900.0
31    Derek   44   77000      Finance 2015-12-20  7700.0
32    Elena   33   53000    Marketing 2020-03-08  5300.0
33    Felix   37   59000  Engineering 2018-07-27  5900.0
34     Gina   26   49000           HR 2022-09-01  4900.0
35    Harry   40   71000      Unknown 2017-05-13  7100.0
37    Jason   29   56000  Engineering 2021-04-22  5600.0
38    Kelly   33   52000           HR 2019-11-09  5200.0
39      Leo   34   59000      Finance 2018-01-30  5900.0
40     Mona   25   47000      Unknown 2022-02-14  4700.0
41     Nate   33   66000  Engineering 2020-06-06  6600.0
42     Opal   38   59000           HR 2017-09-19  5900.0
43    Peter   45   82000      Finance 2016-04-25  8200.0
45      Ron   36   59000  Engineering 2019-08-18  5900.0
46     Sara   31   59000      Unknown 2021-12-01  5900.0
47      Tom   33   61000  Engineering 2020-10-10  6100.0
48   Ursula   28   59000           HR 2022-05-05  5900.0
50   Willow   33   63000    Marketing 2018-06-16  6300.0
51     Xena   33   54000           HR 2019-03-03  5400.0
52    Yusuf   39   59000  Engineering 2017-07-07  5900.0
53     Zara   24   46000      Unknown 2022-11-11  4600.0
54     Adam   35   65000      Finance 2016-02-02  6500.0
55    Bella   29   59000    Marketing 2020-09-09  5900.0
57    Daisy   26   48000           HR 2021-01-01  4800.0
58    Ethan   33   72000      Finance 2018-08-08  7200.0
59    Fiona   34   59000    Marketing 2019-04-04  5900.0
60   George   43   79000      Unknown 2015-05-05  7900.0

In [53]:
# converting bonus to int
df["bonus"] = df["bonus"].astype(int)

In [54]:
df

       name  age  salary   department  join_date  bonus
id
1     Alice   25   50000           HR 2021-01-15   5000
2       Bob   33   60000  Engineering 2020-06-20   6000
3   Charlie   35   59000  Engineering 2019-03-10   5900
4     David   29   55000      Unknown 2022-08-01   5500
7     Frank   28   52000  Engineering 2021-09-12   5200
8     Grace   33   58000           HR 2020-02-18   5800
9    Hannah   31   59000    Marketing 2019-07-25   5900
11     Jack   27   48000      Unknown 2021-11-05   4800
12    Karen   34   62000  Engineering 2018-04-14   6200
13     Liam   33   54000           HR 2022-01-09   5400
14      Mia   26   59000    Marketing 2020-05-21   5900
15     Noah   38   72000      Finance 2017-10-30   7200
16   Olivia   33   51000           HR 2021-03-17   5100
17     Paul   41   69000      Unknown 2016-08-19   6900
18    Quinn   33   59000  Engineering 2019-12-01   5900
19   Rachel   29   56000    Marketing 2022-06-11   5600
21     Tina   24   47000           HR 2021-07-07   4700
22      Uma   36   59000  Engineering 2018-09-23   5900
23   Victor   39   68000      Unknown 2017-02-14   6800
24    Wendy   33   59000    Marketing 2020-10-05   5900
25   Xavier   42   81000      Finance 2016-11-11   8100
26     Yara   27   59000           HR 2022-04-03   5900
28     Anna   35   64000    Marketing 2019-06-06   6400
29    Brian   33   58000           HR 2020-01-01   5800
30    Cathy   28   59000  Engineering 2021-08-15   5900
31    Derek   44   77000      Finance 2015-12-20   7700
32    Elena   33   53000    Marketing 2020-03-08   5300
33    Felix   37   59000  Engineering 2018-07-27   5900
34     Gina   26   49000           HR 2022-09-01   4900
35    Harry   40   71000      Unknown 2017-05-13   7100
37    Jason   29   56000  Engineering 2021-04-22   5600
38    Kelly   33   52000           HR 2019-11-09   5200
39      Leo   34   59000      Finance 2018-01-30   5900
40     Mona   25   47000      Unknown 2022-02-14   4700
41     Nate   33   66000  Engineering 2020-06-06   6600
42     Opal   38   59000           HR 2017-09-19   5900
43    Peter   45   82000      Finance 2016-04-25   8200
45      Ron   36   59000  Engineering 2019-08-18   5900
46     Sara   31   59000      Unknown 2021-12-01   5900
47      Tom   33   61000  Engineering 2020-10-10   6100
48   Ursula   28   59000           HR 2022-05-05   5900
50   Willow   33   63000    Marketing 2018-06-16   6300
51     Xena   33   54000           HR 2019-03-03   5400
52    Yusuf   39   59000  Engineering 2017-07-07   5900
53     Zara   24   46000      Unknown 2022-11-11   4600
54     Adam   35   65000      Finance 2016-02-02   6500
55    Bella   29   59000    Marketing 2020-09-09   5900
57    Daisy   26   48000           HR 2021-01-01   4800
58    Ethan   33   72000      Finance 2018-08-08   7200
59    Fiona   34   59000    Marketing 2019-04-04   5900
60   George   43   79000      Unknown 2015-05-05   7900

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 1 to 60
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        51 non-null     object
 1   age         51 non-null     int32
 2   salary      51 non-null     int32
 3   department  51 non-null     object
 4   join_date   51 non-null     datetime64[ns]
 5   bonus       51 non-null     int32
dtypes: datetime64[ns](1), int32(3), object(2)
memory usage: 2.2+ KB

In [57]:
# Add performance score (1 to 5)
import numpy as np
import random
np.random.seed(0)
df["performance_score"] = np.random.randint(1, 6, size=len(df))
df

       name  age  salary   department  join_date  bonus  performance_score
id
1     Alice   25   50000           HR 2021-01-15   5000                  5
2       Bob   33   60000  Engineering 2020-06-20   6000                  1
3   Charlie   35   59000  Engineering 2019-03-10   5900                  4
4     David   29   55000      Unknown 2022-08-01   5500                  4
7     Frank   28   52000  Engineering 2021-09-12   5200                  4
8     Grace   33   58000           HR 2020-02-18   5800                  2
9    Hannah   31   59000    Marketing 2019-07-25   5900                  4
11     Jack   27   48000      Unknown 2021-11-05   4800                  3
12    Karen   34   62000  Engineering 2018-04-14   6200                  5
13     Liam   33   54000           HR 2022-01-09   5400                  1
14      Mia   26   59000    Marketing 2020-05-21   5900                  1
15     Noah   38   72000      Finance 2017-10-30   7200                  5
16   Olivia   33   51000           HR 2021-03-17   5100                  3
17     Paul   41   69000      Unknown 2016-08-19   6900                  2
18    Quinn   33   59000  Engineering 2019-12-01   5900                  1
19   Rachel   29   56000    Marketing 2022-06-11   5600                  2
21     Tina   24   47000           HR 2021-07-07   4700                  2
22      Uma   36   59000  Engineering 2018-09-23   5900                  1
23   Victor   39   68000      Unknown 2017-02-14   6800                  2
24    Wendy   33   59000    Marketing 2020-10-05   5900                  5
25   Xavier   42   81000      Finance 2016-11-11   8100                  4
26     Yara   27   59000           HR 2022-04-03   5900                  1
28     Anna   35   64000    Marketing 2019-06-06   6400                  4
29    Brian   33   58000           HR 2020-01-01   5800                  1
30    Cathy   28   59000  Engineering 2021-08-15   5900                  3
31    Derek   44   77000      Finance 2015-12-20   7700                  4
32    Elena   33   53000    Marketing 2020-03-08   5300                  1
33    Felix   37   59000  Engineering 2018-07-27   5900                  2
34     Gina   26   49000           HR 2022-09-01   4900                  4
35    Harry   40   71000      Unknown 2017-05-13   7100                  4
37    Jason   29   56000  Engineering 2021-04-22   5600                  4
38    Kelly   33   52000           HR 2019-11-09   5200                  1
39      Leo   34   59000      Finance 2018-01-30   5900                  2
40     Mona   25   47000      Unknown 2022-02-14   4700                  2
41     Nate   33   66000  Engineering 2020-06-06   6600                  2
42     Opal   38   59000           HR 2017-09-19   5900                  1
43    Peter   45   82000      Finance 2016-04-25   8200                  3
45      Ron   36   59000  Engineering 2019-08-18   5900                  5
46     Sara   31   59000      Unknown 2021-12-01   5900                  4
47      Tom   33   61000  Engineering 2020-10-10   6100                  4
48   Ursula   28   59000           HR 2022-05-05   5900                  3
50   Willow   33   63000    Marketing 2018-06-16   6300                  5
51     Xena   33   54000           HR 2019-03-03   5400                  3
52    Yusuf   39   59000  Engineering 2017-07-07   5900                  1
53     Zara   24   46000      Unknown 2022-11-11   4600                  1
54     Adam   35   65000      Finance 2016-02-02   6500                  5
55    Bella   29   59000    Marketing 2020-09-09   5900                  1
57    Daisy   26   48000           HR 2021-01-01   4800                  5
58    Ethan   33   72000      Finance 2018-08-08   7200                  2
59    Fiona   34   59000    Marketing 2019-04-04   5900                  5
60   George   43   79000      Unknown 2015-05-05   7900                  2

In [60]:
df=df.reset_index()
df

    id     name  age  salary   department  join_date  bonus  performance_score
0    1    Alice   25   50000           HR 2021-01-15   5000                  5
1    2      Bob   33   60000  Engineering 2020-06-20   6000                  1
2    3  Charlie   35   59000  Engineering 2019-03-10   5900                  4
3    4    David   29   55000      Unknown 2022-08-01   5500                  4
4    7    Frank   28   52000  Engineering 2021-09-12   5200                  4
5    8    Grace   33   58000           HR 2020-02-18   5800                  2
6    9   Hannah   31   59000    Marketing 2019-07-25   5900                  4
7   11     Jack   27   48000      Unknown 2021-11-05   4800                  3
8   12    Karen   34   62000  Engineering 2018-04-14   6200                  5
9   13     Liam   33   54000           HR 2022-01-09   5400                  1
10  14      Mia   26   59000    Marketing 2020-05-21   5900                  1
11  15     Noah   38   72000      Finance 2017-10-30   7200                  5
12  16   Olivia   33   51000           HR 2021-03-17   5100                  3
13  17     Paul   41   69000      Unknown 2016-08-19   6900                  2
14  18    Quinn   33   59000  Engineering 2019-12-01   5900                  1
15  19   Rachel   29   56000    Marketing 2022-06-11   5600                  2
16  21     Tina   24   47000           HR 2021-07-07   4700                  2
17  22      Uma   36   59000  Engineering 2018-09-23   5900                  1
18  23   Victor   39   68000      Unknown 2017-02-14   6800                  2
19  24    Wendy   33   59000    Marketing 2020-10-05   5900                  5
20  25   Xavier   42   81000      Finance 2016-11-11   8100                  4
21  26     Yara   27   59000           HR 2022-04-03   5900                  1
22  28     Anna   35   64000    Marketing 2019-06-06   6400                  4
23  29    Brian   33   58000           HR 2020-01-01   5800                  1
24  30    Cathy   28   59000  Engineering 2021-08-15   5900                  3
25  31    Derek   44   77000      Finance 2015-12-20   7700                  4
26  32    Elena   33   53000    Marketing 2020-03-08   5300                  1
27  33    Felix   37   59000  Engineering 2018-07-27   5900                  2
28  34     Gina   26   49000           HR 2022-09-01   4900                  4
29  35    Harry   40   71000      Unknown 2017-05-13   7100                  4
30  37    Jason   29   56000  Engineering 2021-04-22   5600                  4
31  38    Kelly   33   52000           HR 2019-11-09   5200                  1
32  39      Leo   34   59000      Finance 2018-01-30   5900                  2
33  40     Mona   25   47000      Unknown 2022-02-14   4700                  2
34  41     Nate   33   66000  Engineering 2020-06-06   6600                  2
35  42     Opal   38   59000           HR 2017-09-19   5900                  1
36  43    Peter   45   82000      Finance 2016-04-25   8200                  3
37  45      Ron   36   59000  Engineering 2019-08-18   5900                  5
38  46     Sara   31   59000      Unknown 2021-12-01   5900                  4
39  47      Tom   33   61000  Engineering 2020-10-10   6100                  4
40  48   Ursula   28   59000           HR 2022-05-05   5900                  3
41  50   Willow   33   63000    Marketing 2018-06-16   6300                  5
42  51     Xena   33   54000           HR 2019-03-03   5400                  3
43  52    Yusuf   39   59000  Engineering 2017-07-07   5900                  1
44  53     Zara   24   46000      Unknown 2022-11-11   4600                  1
45  54     Adam   35   65000      Finance 2016-02-02   6500                  5
46  55    Bella   29   59000    Marketing 2020-09-09   5900                  1
47  57    Daisy   26   48000           HR 2021-01-01   4800                  5
48  58    Ethan   33   72000      Finance 2018-08-08   7200                  2
49  59    Fiona   34   59000    Marketing 2019-04-04   5900                  5
50  60   George   43   79000      Unknown 2015-05-05   7900                  2

In [61]:
#Renmaing all the headings so that every headings is started with capital letter
df.rename(columns={"id": "Id"}, inplace=True)
df.rename(columns={"name": "Name"}, inplace=True)
df.rename(columns={"age": "Age"}, inplace=True)
df.rename(columns={"salary": "Salary"}, inplace=True)
df.rename(columns={"department": "Department"}, inplace=True)
df.rename(columns={"join_date": "Join Date"}, inplace=True)
df.rename(columns={"bonus": "Bonus"}, inplace=True)
df.rename(columns={"performance_score": "Perfromance Score"}, inplace=True)
df

    Id     Name  Age  Salary   Department  Join Date  Bonus  Perfromance Score
0    1    Alice   25   50000           HR 2021-01-15   5000                  5
1    2      Bob   33   60000  Engineering 2020-06-20   6000                  1
2    3  Charlie   35   59000  Engineering 2019-03-10   5900                  4
3    4    David   29   55000      Unknown 2022-08-01   5500                  4
4    7    Frank   28   52000  Engineering 2021-09-12   5200                  4
5    8    Grace   33   58000           HR 2020-02-18   5800                  2
6    9   Hannah   31   59000    Marketing 2019-07-25   5900                  4
7   11     Jack   27   48000      Unknown 2021-11-05   4800                  3
8   12    Karen   34   62000  Engineering 2018-04-14   6200                  5
9   13     Liam   33   54000           HR 2022-01-09   5400                  1
10  14      Mia   26   59000    Marketing 2020-05-21   5900                  1
11  15     Noah   38   72000      Finance 2017-10-30   7200                  5
12  16   Olivia   33   51000           HR 2021-03-17   5100                  3
13  17     Paul   41   69000      Unknown 2016-08-19   6900                  2
14  18    Quinn   33   59000  Engineering 2019-12-01   5900                  1
15  19   Rachel   29   56000    Marketing 2022-06-11   5600                  2
16  21     Tina   24   47000           HR 2021-07-07   4700                  2
17  22      Uma   36   59000  Engineering 2018-09-23   5900                  1
18  23   Victor   39   68000      Unknown 2017-02-14   6800                  2
19  24    Wendy   33   59000    Marketing 2020-10-05   5900                  5
20  25   Xavier   42   81000      Finance 2016-11-11   8100                  4
21  26     Yara   27   59000           HR 2022-04-03   5900                  1
22  28     Anna   35   64000    Marketing 2019-06-06   6400                  4
23  29    Brian   33   58000           HR 2020-01-01   5800                  1
24  30    Cathy   28   59000  Engineering 2021-08-15   5900                  3
25  31    Derek   44   77000      Finance 2015-12-20   7700                  4
26  32    Elena   33   53000    Marketing 2020-03-08   5300                  1
27  33    Felix   37   59000  Engineering 2018-07-27   5900                  2
28  34     Gina   26   49000           HR 2022-09-01   4900                  4
29  35    Harry   40   71000      Unknown 2017-05-13   7100                  4
30  37    Jason   29   56000  Engineering 2021-04-22   5600                  4
31  38    Kelly   33   52000           HR 2019-11-09   5200                  1
32  39      Leo   34   59000      Finance 2018-01-30   5900                  2
33  40     Mona   25   47000      Unknown 2022-02-14   4700                  2
34  41     Nate   33   66000  Engineering 2020-06-06   6600                  2
35  42     Opal   38   59000           HR 2017-09-19   5900                  1
36  43    Peter   45   82000      Finance 2016-04-25   8200                  3
37  45      Ron   36   59000  Engineering 2019-08-18   5900                  5
38  46     Sara   31   59000      Unknown 2021-12-01   5900                  4
39  47      Tom   33   61000  Engineering 2020-10-10   6100                  4
40  48   Ursula   28   59000           HR 2022-05-05   5900                  3
41  50   Willow   33   63000    Marketing 2018-06-16   6300                  5
42  51     Xena   33   54000           HR 2019-03-03   5400                  3
43  52    Yusuf   39   59000  Engineering 2017-07-07   5900                  1
44  53     Zara   24   46000      Unknown 2022-11-11   4600                  1
45  54     Adam   35   65000      Finance 2016-02-02   6500                  5
46  55    Bella   29   59000    Marketing 2020-09-09   5900                  1
47  57    Daisy   26   48000           HR 2021-01-01   4800                  5
48  58    Ethan   33   72000      Finance 2018-08-08   7200                  2
49  59    Fiona   34   59000    Marketing 2019-04-04   5900                  5
50  60   George   43   79000      Unknown 2015-05-05   7900                  2

In [ ]:
###finally data is cleaned yay!!!!!!

In [62]:
#making new csv file for the cleaned data
df.to_csv('clean_employee_data.csv',index= False)